@import '../../Style/variables.scss';


.section-about {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background-color: $home-page-pink;
	&-first {
		position: relative;
		display: flex;
		justify-content: center;
		&-logo {
			height: 500px;
			width: 100%;
			max-width: 500px;
			overflow: hidden;

			opacity: 0.5;
			border-radius: 50%;
			background-color: #ff0080;
			box-shadow: 0 29px 99px rgba(155, 0, 98, 0.44);
			border-style: dotted;
			border-color: #fff;
			background-size: contain;
			background-image: url('../../Assets/icons/about-foto.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}