@import '../../Style/variables.scss';


.section-home {
	height: 100vh;

	display: flex;
    flex-direction: column;
	justify-content: center;

	color: #fff;
	background-color: $home-page-blue;
	background-size: 100%;
	background-image: url('../../Assets/icons/adult-attractive-cap-2146720.png');
	background-repeat: no-repeat;
	background-position: center;
	&::before {
		cursor: pointer;
		content: '';

		height: 40px;
		width: 40px;
		top: 40px;
		right: 40px;
		
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../../Assets/icons/headphones.svg');
	}
	&-container {
		width: 100%;
		max-width: 1200px;
		align-self: center;
	}
	&-about {
		h1 {
			font-size: 63px;
			font-weight: 400;
			line-height: 90px;
			span {
				color: $text-color-pink;
			}
		}
	}
	&-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.section-first-screen {
	height: 100%;
	padding: 20px;
	background-image: linear-gradient(to bottom right, #cb30ce, #3337f4);
	&-wrapper {
		height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: #fff;
		opacity: 0.8;
		border-radius: 5px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../../Assets/icons/AEON-bg.svg');

	}
	&-content {
		display: flex;
		justify-content: center;

		width: 100%;
		padding-top: 10%;
		&-playlist {
			margin-right: 10em;
		}
		&-track {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 300px;
			height: 55px;

			border-radius: 3px;
			margin-bottom: 5px;
			text-align: center;
			background-color: #ffffff;
			box-shadow: 0 10px 52px rgba(136, 100, 209, 0.15);
			p {
				margin: 0;
			}
		}
		&-order {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 300px;
			height: 55px;

			border-radius: 3px;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 30px;
			color: $text-color-white;
			background-color: $btn-album;
			box-shadow: 0 10px 12px rgba(59, 35, 106, 0.38);
			p {
				margin: 0;
			}
		}
		&-album {
			width: 220px;
			height: 55px;

			border: none;
			position: relative;
			color: $text-color-white;
			border-radius: 4px;
			background-image: linear-gradient(180deg, #fb22a4 0%, #7b24d2 100%);
			&::before {
				position: absolute;
				content: '';
				top: 15px;
				bottom: 0;
				left: 20px;
				height: 30px;
				width: 25px;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url('../../Assets/icons/music-player.svg');
			}
		}
		&-about {
			.logo-ul {
				display: flex;

				padding: 0;
				margin-top: 2em;
				list-style-type: none;
				&-li {
					margin-right: 20px;
				}
			}
		}
		&-logo {
			padding-bottom: 3em;
		}
		&-equalizer {
			&-wrapper {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				position: relative;

				width: 220px;
				height: 220px;
				border-radius: 150px;
				
				box-shadow: 0 10px 30px rgba(0, 141, 97, 0.18);
				background-color: #ffffff;
				.play-btn {
					cursor: pointer;
					position: absolute;
					left: 0;
					bottom: 0;

					width: 75px;
					height: 75px;

					border: none;
					border-radius: 50%;
					box-shadow: 0 10px 30px rgba(0, 141, 97, 0.18);
					background-color: #97aabf;
					&:focus {
						outline: none;
					}
				}
			}

		}
	}
}

.section-second-screen {
	@extend .section-first-screen;
	background-image: linear-gradient(to bottom right, #6337f0, #08b8c8);
	&-wrapper {
		opacity: 1;
		background-color: #140065;
		@extend .section-first-screen-wrapper;
		background-image: url('../../Assets/icons/sing.svg');
	}
	&-content {
		@extend .section-first-screen-content;
		&-playlist {
			margin-right: 10em;
		}
		&-track {
			@extend .section-first-screen-content-track;
			box-shadow: 0 10px 52px rgba(136, 100, 209, 0.15);
			p {
				margin: 0;
			}
		}
		&-order {
			@extend .section-first-screen-content-order;
			background-color: $btn-album-purple;
			box-shadow: 0 10px 12px rgba(59, 35, 106, 0.38);
			p {
				margin: 0;
			}
		}
		&-album {
			@extend .section-first-screen-content-album;
			background-image: linear-gradient(180deg, #5422fb 0%, #ab24d2 100%);
			&::before {
				position: absolute;
				content: '';
				top: 15px;
				bottom: 0;
				left: 20px;
				height: 30px;
				width: 25px;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url('../../Assets/icons/music-player.svg');
			}
		}
		&-about {
			@extend .section-first-screen-content-about;
			.logo-ul {
				display: flex;

				padding: 0;
				margin-top: 2em;
				list-style-type: none;
				&-li {
					margin-right: 20px;
				}
			}
		}
		&-logo {
			padding-bottom: 3em;
			.logo {
				color: $text-color-white;
				font-size: 100px;
				margin: 0;
				p {
					margin: 0;
				}
			}
		}
		&-equalizer {
			&-wrapper {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				position: relative;

				width: 220px;
				height: 220px;
				border-radius: 150px;
				
				box-shadow: 0 10px 30px rgba(0, 141, 97, 0.18);
				background-color: #301a88;
				.play-btn {
					cursor: pointer;
					position: absolute;
					left: 0;
					bottom: 0;

					width: 75px;
					height: 75px;

					border: none;
					border-radius: 50%;
					box-shadow: 0 10px 30px rgba(0, 141, 97, 0.18);
					background-color: #5561cc;
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}
